<mat-card class="card" appearance="outlined">
  <mat-card-header>
    <mat-card-title>Help Desk</mat-card-title>
    <mat-card-subtitle>System Help Desk</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../../../assets/img/workers-team.svg" alt="workers-team">
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id lorem risus. Proin odio leo, aliquet eu eleifend vel, dignissim nec odio. 
      Phasellus iaculis libero erat, nec maximus est molestie at. Morbi ut sem pharetra, cursus lacus at, 
      tincidunt nisi. Nunc pharetra mattis ligula. Nullam accumsan suscipit ultrices. Cras nec fermentum leo. 
      Etiam mollis felis vitae urna sodales placerat sed id orci. Aliquam nec nisl metus. Etiam rutrum sollicitudin ante vel rutrum. 
      Etiam ex purus, commodo at elit vitae, pulvinar condimentum sapien. Nullam eget orci vitae magna fermentum congue. 
      Quisque non lacinia dui, non auctor ipsum. Morbi tempus ante ac lacus aliquam malesuada. Ut sed felis fringilla, suscipit turpis quis, accumsan nulla.
    </p>
  </mat-card-content>
</mat-card>
