<div class="container">
    <form class="form">
        <h1 class="fullWidth">Cadastrar Técnico</h1>
        <img class="fullWidth" src="assets/img/tecnico-create.svg" alt="Help Desk - dicas de um DEV">

        <section class="section">
            <mat-checkbox (click)="addPerfil(0)" class="margin">Admin</mat-checkbox>
            <mat-checkbox (click)="addPerfil(1)" class="margin">Cliente</mat-checkbox>
            <mat-checkbox (click)="addPerfil(2)" class="margin">Técnico</mat-checkbox>
        </section>

        <mat-form-field class="fullWidth" appearance="fill">
            <mat-label>Nome</mat-label>
            <input 
            [formControl]="name"
            required
            matInput 
            maxlength="50"
            placeholder="Ex. Fulano de tal">
        </mat-form-field>

        <mat-form-field class="fullWidth" appearance="fill">
            <mat-label>CPF</mat-label>
            <input
            [formControl]="cpf"
            required 
            matInput 
            mask="000.000.000-00"
            placeholder="Ex. 000.000.000-00">
        </mat-form-field>

        <mat-form-field class="fullWidth" appearance="fill">
            <mat-label>E-mail</mat-label>
            <input 
            [formControl]="email"
            required
            matInput 
            placeholder="Ex. fulano@mail.com">
        </mat-form-field>

        <mat-form-field class="fullWidth" appearance="fill">
            <mat-label>Senha</mat-label>
            <input 
            [formControl]="password"
            required
            type="password" 
            matInput 
            placeholder="Ex. 1234">
        </mat-form-field>

        <button [disabled]="!validaCampos()" (click)="create()" class="fullWidth" mat-flat-button color="primary">Cadastrar</button>
        <button routerLink="../" class="fullWidth" mat-stroked-button color="warn">Cancelar</button>
    </form>
</div>
